body{
    background-color:white;
}


.material-symbols-outlined {
  font-size: 50px;
}

.smal {
    font-size: 16px !important;  /* !important tvingar storleken */
}

.big {
    font-size: 40px !important;  /* !important tvingar storleken */
}


.cart-icon-wrapper {
    position: relative;        /* gör så att cirkeln kan positioneras relativt */
    display: inline-block;     
}

/* Cirkeln med röd bakgrund */
.circle {
    position: absolute;        /* absolut i förhållande till wrapper */
    top: -3px;                /* justera vertikalt över ikonen */
    right: -5px;              /* justera horisontellt */
    width: 20px;
    height: 20px;
    background-color: red;     /* röd cirkel */
    color: white;
    border-radius: 50%;        /* gör den rund */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}


.button{
    background-color: white;
     border-radius: 8px;
     width: 250px;
     height: 45px;
     border: solid black 0.5px;
     display: flex;  
      justify-content: center;  
      align-items: center; 
      font-size: 170%;
}
.back {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 5px;               
    padding: 0 8px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    border: solid black 0.5px;
}

a{
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center; 
    gap: 10px;           
    padding: 20px;
}

nav h1 {
    margin: 0;          
    font-size: 1.2rem;   
}

#scan {
    margin-left: auto; 
    margin-right: 30px; 
}

footer {
    display: flex;              
    justify-content: center;   
    align-items: center;        
    height: 60px;               
    background-color: white;    
}

#qr-reader {
    max-height: 50%; /* justera efter önskad höjd */
    width: 100%;        /* full bredd */
    margin-bottom: 20px;
}

.choice{
    background-color: white;
     border-radius: 4px;
     border: solid black 0.5px;
     display: flex;  
      justify-content: center;  
      align-items: center; 
      font-size: 25px;
      margin: 10px;
      height: 30px;
}
.wrap-c{
   position: absolute;       /* flyter ovanpå resten */
    z-index: 10;     
    width: 100%;
    background-color: white;
    bottom: 0px;    
}

#start{
    position: relative;
}